/* .modo-claro{
    background-color: rgb(241, 241, 234);
}

.modo-oscuro{
    background-color: black;
} */
.navbar-nav{
    text-align: center;
    text-decoration: none;       
}


.text-white{
    text-decoration: none;
}

.img-carrito{
    max-width: 50px;
}

.posicionRopa{
    margin-top: 105px;
}

.footer {
    background-color: rgb(3, 4, 3);
    padding: 25px;
}

footer #redes {
    display: flex;
    justify-content: space-evenly;
}

footer #redes .redesIcono {
    width: 50px;
    height: 50px;
}

footer #info {
    padding-top: 28px;
    text-align: center;
}